
// CSS Custom properties
:root {
    --color-primary: #eb2f64; // CSS custom property
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

// global reset
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit; // all elements, pseudo elements will inherit the box-sizing defined for html selector below.
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 1rem = 10px; We want 10px, but browser default is 16px, so 10/226 = 62.5%
}

body {
    font-family: 'Open Sans', sans-serif; // if Open Sans doesn't work, use sans-serif
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat; // to avoid repeating the gradient throughout the page
    min-height: 100vh;
}

