
.container {
    /* The container can decrease if there is not enough space to display 120rem 
       If it's not enough space,i.e. if the view port is less that 1200 pixels, 
       then we simply occupy 100% of the available view port width.*/
    max-width: 120rem; 
    margin: 8rem auto; // to center the container
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0; // removing margin
        max-width: 100%; // setting current width as max-width
        width: 100%;
    }
}

.header {
    font-size: 1.4rem; // so that child elements can inherit this font-size
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    /* In order to put the three elements (logo, search box, user navigation) in the header side by side.
       So the flex container in this case should simply be the parent element of the elements */
    display: flex;

    /* We want the user navigation all the way to the right side, And then search box in the middle. */
    justify-content: space-between;

    /*  We want to align each flex item nicely centered vertically in the header.
        So, if we didn't have Flexbox, we could use like margin-top 
        and would then have to experiment which is the perfect margin.
        But Flexbox makes our lives so much easier and all we have to do is 
        to use the align-items property, which is center the items vertically, i.e. along the cross axis */
    align-items: center;

    /* we want to move the search bar to the last position and on the next line 
    Setting flex-wrap: wrap, now we are allowing the flex items to wrap into a new line 
    if they don't have enough space in the flex container. */
    @media only screen and (max-width: $bp-smallest ) {
        flex-wrap: wrap;
        align-content: space-around; // control the space between the rows of the flex container
        height: 11rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column; // so that sidebar and hotel view will be on top of each other
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    /* The property that we use to flexbox to define width is the flex-basis,
       but we should always use it in the shortened flex property. 
       flex-grow: 0; - we don't want the elements to grow even  if there's some space available. 
       flex-shrink: 0; - also we don't want the elements to shrink if there's not enough space.
       flex-basis:18%; - width of the flex item. */
    flex: 0 0 18%;

    display: flex;
    flex-direction: column; // note the direction, Here the main-axis is top to down.

    /* justify-content: space-between
       This divides all the available wide space between the elements 
       and in this case, there are only two elements (.side-nav and .legal) 
       and so, therefore, one is pushed to one side(here top), and other is pushed to the other side (here bottom).*/
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    /* We want it to grow as much as it can to over all the available space that it has (100-18% = 82%).
       flex-grow: 1; 
       flex-shrink and flex-basis will be default. */
    flex: 1; 
}


.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem; // set to same as mergin-right below, so that this distance on top, and on left side, and between the two boxes, is always the same
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    // first media query for larger screen (Order of media queries is important)
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem; // reducing from 4.5 to 3rem, to get rid of excessive white space that we really don't have space for at this view port width.
    }

    // last media query for smallest screen (Order of media queries is important)
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; // no grow, no shrink, flex-basis/width 60%, usually when flex-basis is in percentage, flex-shrink and flex-grow: are 0.
    margin-right: 4.5rem; // margin between 2 flex items

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem; // reducing to 2rem
        margin-right: 3rem; // margin between 2 flex items
    }

    @media only screen and (max-width: $bp-small) {
        // remove margin right and add some margin at the bottom so to create some space
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; // occupy the remaining space by setting flex to one

    display: flex;
    flex-direction: column;
    align-items: center;
}