// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px / 16 => 75 
$bp-large: 62.5em; // 1000px / 16 => 62.5 
$bp-medium: 50em; // 800px / 16 => 50
$bp-small: 37.5em; // 600px / 16 => 37.5

// UNIVERSAL RESET 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5%, so 1rem = 10px now

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;  // 8px/16 = 50%, reducing the overall font-size to 8px
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

// CSS GRID
.container {
    display: grid;

    /*
        With CSS Grid, we really need to think about responsiveness,
        right from the beginning of defining our Grid tracks (rows/columns).
        Hence we are not using pixels, but the real units.

        1st row - Header - 80vh because we want it to be 80% of viewport height.
        2nd row - Features - min-content because we want the row to grow based on content.
                  We could also use 'auto' instead of 'min-content'. It means the same.
                  auto is actually the default if you do not specify anything, 
                  auto basically, also means that it adapts to the content.
        3rd row - Story - 40vw means 40% of viewport width. Here we have used width instead of height
                  that's bcz as we descrease the viewport width, the size of the boxes on this row descrease,
                  i.e. content is adapting based in the viewport WIDTH.
        4th,5th,5th row - Homes, Gallery, Footer - min-content because we want the row to grow based on content.

    */
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content); 


    /*
        It's very common in web design to use a design grid, with like 8 or 12 or 16 predefined columns.
        Grid systems like this are widely used in web design.
        For example, Bootstrap has a 12 column grid.
        
        Here we will 'start' with 8 column layout.
        Amd considering 1140px width, each column will have 1140/8 = 142.5 => aprox. 140px
        However when we resize the viewport, we want the content to adapt accordingly.
        So we need to use minmax() function with min width as min-content and max width as 140px.

        Let's add one more column(1st column) for sidebar as 8rem.

        Now the last step is to basically center last eight columns between end of the viewport and the sidebar.
        How can we easily achieve this?
        We could simply add two more columns, one to each side of these eight columns. 
        So one here on the left side, and then one on the right side.
        And we want both of them to occupy the remaining of the space (i.e. 1fr each).
        If we now decrease the viewport, you will see that these ones are the ones that start to shrink first.
        So this last one and this one after sidebar. So they start to shrink first because the are the ones
        that occupy the fractional space (the remaining space).
        Having 1fr will add reamining space available, however if viewport is decreased, we may not have remaining space
        but we should have some minimum margin between sidebar and the section/content, 
        so instead of just using 1fr, we can use minmax(6rem, 1fr). 
        This will ensure at least 60px margin between sidebar and the content.
        And so that is kind of what we wanted, having our eight columns centered right in the viewport.

        ( If we hadn't the sidebar at first column, then we could've used the margin: auto,  trick.
        Or we could also have used, the justify content property of the grid. But because we want the sidebar
        exactly t the left side first row, we cannot use these 2 options.)

        Another important reason why we want to do it like this is - 
        For instance some sections like gallery, footer and even header sections that go from one side to the other 
        and actually break out of the 8 columns. That's what we call the "full-bleed sections".
        So we then need these 2 columns on the left side and on the right side 
        to basically break out of our predefined eight column grid that we have in the middle of the page.
        And so that's another thing that this layout allows us to do perfectly.

        So this is perfect for having full-bleed sections in the middle of some eight column sections.
        And actually this is a trend that we've been seeing more and more in web design - 
        So having a couple of design elements which are centered in the viewport 
        like we have here with these eight columns, but then sometimes we have some full-bleed sections
        in the middle of that. And so grid layout is perfect for doing exactly that.

        Summary - 
        1. So we started with an eight column layout, 
        2. Then on the left side we added the sidebar,
        3. Then we added a column on the left side and one on the right side, 
           which both occupy the remaining, in order to center these eight columns in the middle of the page.
           And if we then want a full-bleed section, we can occupy the contents 
           and have a section that goes all the way from the left side to the right side, for example.
           And with that, we can kind of break the inner eight column layout.

        Now let's name the column grid lines - sidebar-start, sidebar-end, full-start, full-end, center-sart, center-end
        col-start 1 tot8, col-end 1 to 8.
        It is very important to name the grid lines. This is tremedously helpful while writing media queries.
        Without the names, it would be a nightmare because with just numbers whole layout will change
        if we remove say one column for smaller viewport.
        We generally do not name rows, because for the overall layout the focus is mostly on the columns due to responsive design
    */
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
            [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
            minmax(6rem, 1fr) [full-end]; 


    /* CSS Grid is very helpful to write code which is responsive.
       Here we just need to change the layout definitions (rows/columns) */
    @media only screen and (max-width: $bp-large) {
        
        /* At 1000px, we want to remove the sidebar from first column and put it as first row.
           Hence removing  [sidebar-start] 8rem [sidebar-end from column template 
           and putting 6rem(not required to have 8rem) in row template.
           Of course, we also need to make changes in _sidebar.scss because we removed sidebar-start/end. */

        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); 

        grid-template-columns: [full-start] minmax(6rem, 1fr)
            [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
            minmax(6rem, 1fr) [full-end]; 
    }


    /* CSS Grid is very helpful to write code which is responsive.
       Here we just need to change the layout definitions (rows/columns) */
    @media only screen and (max-width: $bp-medium) {
        
        /* At 800px, we want a new row for realtors. 
           So we want the header and the realtors one below another and not side by side.
           so for that we need to change the row definition.
           1. We want the header to cover full viewport, i.e. 100vh, 
              however we have 6rem sidebar at the top now. So we need to deduct that height.
              It's easy to do the calculation between different units(rem, vh) using the amazing calc function.
              If we just use 100vh, then once you start scrolling you will still see some part of header
              as you scroll, which doesn;t look good.
           2. Also Added min-content for realtors after 100vh(which is for header).
           3. Also for story removing 40vh and using min-content */

        //grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); 
        grid-template-rows: 6rem calc(100vh - 6rem); // this is same above above commented line. 
                                                     // Automatic Placement Algorith will take care of this

        // no change in grid-template-columns definition
    }
}