.realtors {
    background-color: $color-secondary;
    padding: 3rem;

    /*
        Header-Row section is divided into 2 parts, header and realtors.
        Of the total 8 columns, We want the header to span 6 columns and realtors to have 2 columns.
        However this section is going to be full-bleed section, so we can make use of the additional 2 columns.
        Hence the first part (header) will span from full-start till end of column 6 (which is also start of column 7)
        And the 2nd part (realtors) will span from end of column 6 (which is also start of column 7) till full-end.
    */
    grid-column: col-start 7 / full-end;

    // only for aligning the &__list container
    display: grid;
    row-gap: 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;

    &__list {

        display: grid;
        /* 1st column - min-content - as we have defined width for img to 7rem. So it should fit that
           2nd column - max-content - so that the text doesn't create any line breaks for the content. */
        grid-template-columns: min-content max-content;
        column-gap: 2.5rem;
        row-gap: 4vh;   // because we want the margin between grid items to be dependant on viewport height
        //justify-content: center;
        align-items: center; // centering items inside the cell vertically
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px; // to move up a little bit, we could have also used transform: translateY(-3px)    
    }
    
    &__img {
        width: 7rem;
        //height: 100%;
        border-radius: 50%;
        display: block;
    }
}