.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1; // to span all the way from top start till bottom end (till end of explicit grid).
}